@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/fonts.scss";

.button {
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    @include SizeNormal;
    font-weight: bold;
    background-color: $green-color;
    color: #fff;

    &.primary {
        background-color: $green-color;
    }
    
    &.secundary {
        background-color: #fff;
        color: $purple-color;
    }

    &.full {
        padding: 21px;
        width: 100%;
        @include SizeNormal;
        font-weight: 600;
        background-color: #0AAA28;
    }
}

